{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
    <h1>X Marks the Spot</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <p>
        We got out of the dock a little later than planned. One of the new guys we hired last night was a bit late showing up. Captain Fuzzbeard was going to have him shot <a href="detail-page.html">yesterday</a>, but the only one of us who actually had a gun handy at the moment was little Timmy. Well, he wouldn't part with the gun, and insisted that he get to "practie punishing tardy scum" so that he would be "really super good" at it. So Captain Fuzzbeard gave in since he didn't want to waste any more time, and Timmy attempted the execution. Well, needless to say, he missed completely and set the guy's sack of clothes on fire. Fuzzbeard was tired of waiting, so he decided that it was enough punishment and hustled everyone onto the ship.
      </p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
